// Custom theme settings

@use "uswds-core" with (
  // Using tokens in theme settings:
  $theme-grid-container-max-width: "desktop",
  $theme-site-margins-breakpoint: "desktop",
  $theme-site-margins-width: 4,
  $theme-site-margins-mobile-width: 2,
  // Set base asset paths:
  $theme-font-path: "@uswds/uswds/fonts",
  $theme-image-path: "@uswds/uswds/img",
  // Control for viewing uswds notifications:
  $theme-show-notifications: false
);
