// Custom theme settings

@use "uswds-core" with (
  // Using tokens in theme settings:
  $theme-grid-container-max-width: "desktop",
  $theme-site-margins-breakpoint: "desktop",
  $theme-site-margins-width: 4,
  $theme-site-margins-mobile-width: 2,
  // Set base asset paths:
  $theme-font-path: "@uswds/uswds/fonts",
  $theme-image-path: "@uswds/uswds/img",
  // usa-icon-list bug:
  // $theme-body-font-size: '2xs'
  // Control for viewing uswds notifications:
  $theme-show-notifications: false,
  // Any palettes added to this list will output utilities for background-color, border-color, color, text-decoration-color
  $global-color-palettes: ('palette-color-theme'),
  $color-palettes: ('palette-color-theme')
);