// Technical note: The @forward 'uswds' statement above references the uswds package in node_modules/@uswds/uswds/packages.
@forward "uswds-theme";
@forward "uswds";

// Custom styles
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
