// Global styles
@use 'custom'; // mixins are available with @use

// Custom styles
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
}

.highlight {
  @include custom.highlight();
}
