---
import { t } from "i18next";
---

<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item"><a href="">{t("Parent link")}</a></li>
    <li class="usa-sidenav__item">
      <a href="" class="usa-current">{t("Current page")}</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item"><a href="">{t("Child link")}</a></li>
        <li class="usa-sidenav__item">
          <a href="" class="usa-current">{t("Child link")}</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <a href="">{t("Grandchild link")}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="">{t("Grandchild link")}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="" class="usa-current">{t("Grandchild link")}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="">{t("Grandchild link")}</a>
            </li>
          </ul>
        </li>
        <li class="usa-sidenav__item"><a href="">{t("Child link")}</a></li>
        <li class="usa-sidenav__item"><a href="">{t("Child link")}</a></li>
        <li class="usa-sidenav__item"><a href="">{t("Child link")}</a></li>
      </ul>
    </li>
    <li class="usa-sidenav__item"><a href="">{t("Parent link")}</a></li>
  </ul>
</nav>
