---
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import { LanguageSelector } from "astro-i18next/components";
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import Banner from "@components/Banner.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Sidebar from "@components/Sidebar.astro";
import Identifier from "@components/Identifier.astro";
import "@styles/styles.scss";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <HeadHrefLangs />
  </head>
  <body>
    <script>
      // @uswds assumes `window` is defined
      // load accordion script once for all accordions on the page
      // if accordions are added to the page dynamically, this package will not detect them
      import accordion from "@uswds/uswds/js/usa-accordion";
      accordion.on();
    </script>
    <a class="usa-skipnav" href="#main-content">{t("Skip to main content")}</a>
    <Banner />
    <div class="grid-container">
      <div class="grid-row grid-gap margin-top-4">
        <div class="grid-col-fill text-right">
          <LanguageSelector showFlag />
        </div>
      </div>
    </div>
    <Header />

    <div class="usa-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-layout-docs__sidenav desktop:grid-col-3">
            <Sidebar />
          </div>

          <slot />
        </div>
      </div>
    </div>

    <Footer />
    <Identifier />
  </body>
</html>
